<div class="container">
  <div class="row">
    <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers !!</strong></h1>
      <p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers<br>
       you can share and exchange your opinions , inoressions , and emotions<br>
       about various books!
     </p>
   </div>
   <div class="col-xs-3">
   </div>
 </div>
 <div class="row">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-5">
    <div>
      <%= link_to "Log in", new_user_session_path,  class: "btn btn-info btn-block" %>
    </div>
    <div>
      <%= link_to "Sign up", new_user_registration_path,  class: "btn btn-success btn-block"%>
    </div>
  </div>
  <div class="col-xs-4">
  </div>

</div>
</div>