          <td>
            <% if post.favorited_by?(current_user) %>
            <%= link_to post_favorites_path(post, redirect_id: 0), method: :delete, remote: true do %>
            <span class="fa fa-thumbs-up fa-lg"><%= post.favorites.count %></span>
            <% end %>
            <% else %>
            <%= link_to post_favorites_path(post, redirect_id: 0), method: :post, remote: true do %>
            <span class="fa fa-thumbs-o-up fa-lg"><%= post.favorites.count %></span>
            <% end %>
            <% end %>
          </td>