<div class="posteditbox">

<h2>夢の内容を編集する</h2>
<%= render :partial => 'layouts/postform', :locals => {:post => @post}%>

<%= link_to '詳細ページに戻る', @post ,class: "btn btn-border-shadow"%> |
<%= link_to '一覧に戻る', posts_path,class: "btn btn-border-shadow" %>
</div>