/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "honoka";
@import 'font-awesome-sprockets';
@import 'font-awesome';


/**/
.logo {
	font-size: 40px;
	bottom: 0;
	top: 20;
	color: #642020;
}

/**/
.i{
	font-size: 32px;
	color: #ff69b4;
}

/**/
.i{
	font-size: 32px;
	color: #ffb6c1;
}

/*ヘッダー*/
.header-box{
	position: relative;
    top: 0px;                   /* 位置(上0px) */
    left: 0px;                  /* 位置(右0px) */
    width: 100%;                /* 横幅100%*/
    height: 30px;             /* 縦幅140px */
    z-index: 4;
}

/*ログインフォーム外周*/
.log-form {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);

  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
}

/**/
form {
    display: block;
    width: 80%;
  }

/**/
h2 {
    display: block;
    background: FFDBC9;
    color: lighten;
    font-family: 'open sans condensed';
    text-align: center
  }

  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 6px;
    margin-bottom: 6px;
}

/*投稿一覧囲み*/
  .box15 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #f1e6ace6;
    box-shadow: 0px 0px 0px 10px #efcdb9;
    border: dashed 2px #de9105;
    border-radius: 8px;
}

 .box15  h1{
    font-family: 'Dodfonts';
}

/*ユーザー一覧囲み*/
.box14{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebffe3;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}

.box14  h1{
    font-family: 'Dodfonts';
}

/**/
.box18{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
.box18:before,.box18:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.box18:after {
    top:-12px;
    left:-12px;
}
.box18:before {
    bottom:-12px;
    right:-12px;
}

/*会員ページ囲み*/
.box23 {
    position: relative;
    margin: 2em 0 2em 40px;
    padding: 8px 15px;
    background: #fff0c6e3;
    border-radius: 30px;
}
.box23:before{font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 15px;
    left: -40px;
    bottom: 0;
    color: #fff0c6;
}
.box23:after{
    font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 23px;
    left: -23px;
    bottom: 0;
    color: #fff0c6;
}

.box23 h1{
  font-family: 'Dodfonts';
}

/*新規投稿囲み*/
.mybox{
	background-color: #eca1f5bf;  /* 背景色 */
	border-radius: 5px;
	margin: 20px 5px; /* 外側の余白 上下・左右 */
	padding: 30px 20px 20px 20px; /* 内側の余白 上・右・下・左 */
	position: relative;
	z-index: 0;
  color: #333333d4;
}

.mybox p{
 font-family: 'Dodfonts';
}

@font-face {
  font-family: 'Dodfonts';
  src: asset_url('puikko-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.mybox:before{
	border: 1px solid #fff; /* 白い実線 */
	border-radius: 5px;
	content: '';
	display: block;
	margin: 4px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
}
.mybox:after{
	background-color: #a8cfeabf;  /* マステ背景色 */
	background-image: radial-gradient(#fff 20%, transparent 0), radial-gradient(#fff 20%, transparent 0); /* 水玉の色 */
	background-position: 0 0, 8px 8px;  /* 水玉の距離 */
	background-size: 15px 15px; /* 水玉の大きさ */
	border-left: 2px dotted rgba(0,0,0,0.1);
	border-right: 2px dotted rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	content: '新規投稿';
  font-family: 'Dodfonts';
	display: block;
	padding: 5px 20px;
	text-align: center;
	position: absolute;
	top: -10px;
	left: 20px;
	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
}

/**/
.nav {
  font-family: 'Dodfonts';
}

/*ヘッダー*/
.mybox2{
	background: none;
	border: 1px solid #f3cbd0;	/* 線の太さ・種類・色 */
	margin: 5px 10px;	/* 外側の余白 上下・左右 */
	position: relative;
}

.mybox2:after{
	background: repeating-linear-gradient(-45deg, #f5d5da, #f5d5da 5px, #fcf0f1 0, #fcf0f1 10px);
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/*投稿詳細囲み*/
.mybox3{
    font-family: 'Dodfonts';
    border: 4px dotted #bed008; /* 線の太さ・種類・色 */
    margin: 30px 20px;  /* 外側の余白 上下・左右 */
    padding: 15px 20px; /* 内側の余白 上下・左右 */
    position: relative;
    background: #a8eadfd6;
}

.mybox3 h2{
  font-family: 'Dodfonts';
}

.mybox3:before{
    content: '＊';
    color: #fff;    /* 左上の花の色 */
    font-size: 50px;    /* 左上の花のサイズ */
    font-weight: bold; 
    position: absolute;
    top: -38px;
    left: -25px;
    transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg); 
    -o-transform: rotate(20deg);
    text-shadow:  0 0 8px #a8c0ea, 0 0 6px #a8b3ea, 0 0 4px #eaa8bf, 0 0 2px #eaa8bf, 0 0 0.5px #eaa8bf;    /* 左上の花の縁取りの色 */
}
.mybox3:after{
    content: '*';
    color: #fff;    /* 右下の花の色 */
    font-size: 50px;    /* 右下の花のサイズ */
    font-weight: bold; 
    position: absolute;
    bottom: -45px;
    right: -15px;
    transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg); 
    -o-transform: rotate(20deg);
    text-shadow:  0 0 8px #a8c0ea, 0 0 6px #a8b3ea, 0 0 4px #eaa8bf, 0 0 2px #eaa8bf, 0 0 0.5px #eaa8bf;    /* 右下の花の縁取りの色 */
}

/**/
.fashionable-box4{
  font-family: 'Dodfonts';
  margin: 1em 0;
  padding: 1em;
  background-size: 20px 20px;
  border-radius: 5px;
  background-color: #f9ffff;
  background-image: linear-gradient(45deg,rgba(255,186,238,.1) 25%,transparent 25%,transparent 50%,rgba(255,186,238,.1) 50%,rgba(255,186,238,.1) 75%,transparent 75%,transparent),linear-gradient(-45deg,rgba(255,186,238,.1) 25%,transparent 25%,transparent 50%,rgba(255,186,238,.1) 50%,rgba(255,186,238,.1) 75%,transparent 75%,transparent);
  border: solid 2px #f48fb1;
}

.fashionable-box4 p{
  font-family: 'Dodfonts';
  margin: 0;
  padding: 0;
}

.fashionable-box4 h1{
  font-family: 'Dodfonts';
}

/**/
body {
  background-image: url("72521588_p1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*ログイン新規投稿囲み*/
.flame08 {
font-family: 'Dodfonts';
padding: 1em;
margin: 2em auto;
color: #d4d1d1;
width:100%;
background: #333030fa;
border-left: double 8px #795a71;
border-right: double 8px #91789e;
border-radius: 10px;

}

.flame08 h2 {
  font-family: 'Dodfonts';
}

.flame08 h4 {
  font-family: 'Dodfonts';
}

/*会員情報囲み*/
.hitokoto{
  background: rgba(215, 253, 205, 0.61);
  margin: 2em 0;
  padding: 25px;
  border-radius: 10px;
}

.hitokoto-circle1{
  font-size: 16px;
  line-height: 1.5;
  position: absolute;
  margin-top: -37px;
  font-weight: bold;
  color: #fff;
  background-color:#4caf50;
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
}

.hitokoto-circle1:after{
  content: "員";
  position: absolute;
  margin-top: .2em;
  font-weight: bold;
  color: #fff;
  background-color:#4caf50;
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
}

.hitokoto-circle2:before{
  content: "";
  position: absolute;
  top: 100%;
  margin-left: -12px;
  border: 5px solid transparent;
  border-top: 10px solid #4caf50;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.hitokoto-circle2{
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  margin-top: -37px;
  margin-left: 40px;
  font-weight: bold;
  color: #fff;
  background-color:#4caf50;
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
}

.hitokoto-circle2:after{
  content: "報";
  position: absolute;
  margin-top: .2em;
  font-weight: bold;
  color: #fff;
  background-color:#4caf50;
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
}

.hitokoto p{
  margin: 0;
  padding: 0;
}

/**/
.box {
position: relative;
margin: 10px auto;
padding: 20px;
width: 90%;
background-color: #fff;
color: #000;
border: 5px solid #999;
border-radius: 3px;
box-shadow: 0 0 8px #333, 0 0 2px #555 inset;
}

.box::before,
.box::after {
position: absolute;
content: '';
bottom: 2px;
width: 25px; 
border-radius: 2px;
box-shadow: 1px 1px 3px #666;
} 

.box::before {
right: 55px;
border: solid 3px #ff0000;
}

.box::after {
right: 20px;
border: solid 3px #333;
transform: rotate(8deg);
}

/**/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

/*ボタン全般*/
.btn,
a.btn,
button.btn {
  font-family: 'Dodfonts';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  border: 3px solid #000;
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

/*ユーザー編集囲み*/
.mybox5{
background: rgba(255, 245, 238, 0.61);
  border: 1px solid #ef858c;  /* 線の太さ・種類・色 */
  border-radius: 5px;
  padding: 45px 10px 10px 10px; /* 内側の余白 上・右・左・下 */
  position: relative;
  z-index: 0;
  width: 60%;
  font-family: 'Dodfonts';
  margin: auto;
  text-align: center;
  height: 70%;
  vertical-align: middle;
}
.mybox5:before{
  background-color: #ef858c;  /* タイトル部分背景色 */
  border-radius: 5px 5px 0px 0px;
  color: #fff;  /* タイトル部分文字色 */
  content: 'ステータス編集';
  font-size: 40px;
  height: 55px; /* タイトル部分高さ */
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.mybox5:after {
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ef858c transparent transparent transparent;  /* 吹き出し三角部分の色 */
  content: "";
  position: absolute;
  top: px;
  left: 10px;
  width: 0px;
  height: 0px;
  z-index: 1;
}

@font-face {
  font-family: 'Dod';
  src: asset_url('PixelMplus12-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*警告夢囲み*/
.flame11 {
font-family: 'Dod';
padding: 1em;
margin: 2em auto;
width:100%;
color: #f3f3f3;
background: #010e0ead;
border-top: solid 15px #3b4c5f;
}

.flame11 h3{
font-family: 'Dodfonts';
}

/*縁起夢囲み*/
.flame12 {
font-family: 'Dod';
padding: 1em;
margin: 2em auto;
width:100%;
color: #f5efef;
background: #f96275d6;
border-top: solid 15px #fbab58db;
}

.flame12 h3{
font-family: 'Dodfonts';
}

/* 検索ボックス */
dl.searchbox{
  width: 350px;
  height: 40px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
  margin-top: 21px;
}
dl.searchbox dt{
  padding:10px;
}
dl.searchbox dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:1px;
  right:1px;
  width:30%;
}
.search-btn{
  display:block;
  background:#5fad35;
  width:100%;
  height:36px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}

.search-btn:hover {
  background:#228B22;
}

/*ページネーション枠*/
.box20 {
  text-align: center;
  font-size: 18px;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  background: #e6e6fa00;
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

/*投稿編集囲み*/
.box16 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #86b6b994;
    box-shadow: 0px 0px 0px 10px #a5a5debd;
    border: dashed 2px #ad4672;
    border-radius: 8px;
    font-family: 'Dodfonts';
    width: 50%;
}

.box16 h2{
  font-family: 'Dodfonts';
}

footer{
    width: 100%;
    background-color: #89c7deba;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    bottom: 0; /*下に固定*/
}

.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 70px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.container{
  width:80%;
margin-right: auto;
margin-left : auto;
}

.red{
  background: #e65e71;
}

.w{
  background: #fff;
}

.green{
  background: #7fe07e;
}

.yellow{
  background: #f5e389;
}

.aq{
  background: #7fffd4;
}

.red2{
  color: #e65e71;
}