// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*ユーザー編集囲み*/
.usereditbox{
  background: rgba(255, 245, 238, 0.61);
  border: 1px solid #ef858c;  /* 線の太さ・種類・色 */
  border-radius: 5px;
  padding: 70px 10px 10px 10px; /* 内側の余白 上・右・左・下 */
  position: relative;
  z-index: 0;
  width: 40%;
  font-family: 'Dodfonts';
  margin: auto;
  text-align: center;
  height: 70%;
  vertical-align: middle;
}
.usereditbox:before{
  background-color: #ef858c;  /* タイトル部分背景色 */
  border-radius: 5px 5px 0px 0px;
  color: #fff;  /* タイトル部分文字色 */
  content: 'ステータス編集';
  font-size: 30px;
  height: 55px; /* タイトル部分高さ */
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.usereditbox:after {
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #ef858c transparent transparent transparent;  /* 吹き出し三角部分の色 */
  content: "";
  position: absolute;
  top: px;
  left: 10px;
  width: 0px;
  height: 0px;
  z-index: 1;
}

/*会員ページ囲み*/
.mypagebox {
    position: relative;
    margin: 2em 0 2em 40px;
    padding: 8px 15px;
    background: #fff0c6e3;
    border-radius: 30px;
}
.mypagebox:before{font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 15px;
    left: -40px;
    bottom: 0;
    color: #fff0c6;
}
.mypagebox:after{
    font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 23px;
    left: -23px;
    bottom: 0;
    color: #fff0c6;
}

.mypagebox h1{
  font-family: 'Dodfonts';
}

/*ユーザー一覧囲み*/
.userindexbox{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebffe3;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}

.userindexbox h1{
    font-family: 'Dodfonts';
}
