<div class="hitokoto">
      <span class="hitokoto-circle1">会</span><span class="hitokoto-circle2">情</span>
      <table class='table'>
        <tr>
          <th>お名前</th>
          <th><%= current_user.name %></th>
        </tr>
        <tr>
          <th>ひとこと</th>
          <th><%= current_user.name %></th>
        </tr>
      </table>
        <%= link_to "編集する" ,edit_user_path(user), class: "col-xs-10 btn btn-default" %><br><br>
    </div>